<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <style>
            @import url(../css/style.css);
            @import url(../css/feedback.css);
        </style>
        <script src="../js/jquery.js"></script>
        <script src="../js/jquery.chili-2.2.js"></script>
        <script src="../js/script.js"></script>
        <script src="../js/html2canvas.js"></script>
        <script src="../js/jsfeedback.js"></script>
        <script>
             ChiliBook.recipeFolder = "../js/chili/";  
             ChiliBook.automaticSelector = "pre";
        </script>
        <script>
            $(function(){
                $('#feedback').click(function(){
                    $('body').feedback();
                })
            });
        </script>
        <script type="text/javascript">
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-32830659-1']);
            _gaq.push(['_trackPageview']);

            (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
        </script>
        <title><%= c.title %></title>
    </head>
    <body>
        <div id="header">
            <img id="beta" alt="beta" src="../img/beta.png" />
        </div>

        <div id="main">
            <ul class="nav">
                <li class="left"> <%if p%> <img src="../img/prv.png"></img><a href="<%=p.anchor%>.html"><%=p.title%></a><%end%></li>
                <li class="center"><a href="chapters.html">Index</a></li>
                <li class="right"><%if n%> <a href="<%=n.anchor%>.html"><%=n.title%></a><img src="../img/nxt.png"></img><%end%></li>
            </ul>
            <%= c.to_html %>
            <ul class="nav">
                <li class="left"> <%if p%> <img src="../img/prv.png"></img><a href="<%=p.anchor%>.html"><%=p.title%></a><%end%></li>
                <li class="center"><a href="chapters.html">Index</a></li>
                <li class="right"><%if n%> <a href="<%=n.anchor%>.html"><%=n.title%></a><img src="../img/nxt.png"></img><%end%></li>
            </ul>
        </div>
        <div id="footer">
        </div>
        <div id="feedback">Send feedback</div>
    </body>
</html>
